-# in app/views/sessions/new.html.haml
%section
  %div.container.login
    %div.row
      %div.center.col-xs-6.col-md-4.well
        %legend Login
        -flash.each do |type, msg|
          %div{:class => "alert alert-#{type}", :data=>{:alert=>"alert"}} 
            = msg 
        = form_tag login_create_path, :method => :post, :class => "form-signin" do
          = text_field :user, :user_id, :id => "login_userid", :class=>"form-control",:placeholder=>"Username", :required=>"true"
          %br
          = text_field :user, :password, :id=>"login_password", :type => "password", :class=> "form-control", :placeholder=>"password", :required=> "true"
          %br
          %button.btn.btn-primary.btnblock{:type=>"submit"} Login
