-# in app/views/sessions/new.html.haml
%h1 Login 

= form_tag login_create_path, :method => :post do

  = label :user, :user_id, 'User-ID'
  = text_field :user, :user_id, :id => "login_userid"
  

  = label :user, :password, 'Password'
  = text_field :user, :password, :id=>"login_password", :type => "password"

  = submit_tag 'login', :id =>"login_submit"
= link_to "Sign up", new_user_path, :id => "login_signup"
