%div.container-fluid.col-md-8.center
  %h1 Charities
  %div.table-responsive
    %table#charity-table.table.table-hover.table-condensed
      %thead
        %tr
          %th= 'Charity Name'
          %th= 'President'
          %th= 'Email'
          %th= 'Total Pledged Amount'
          %th= 'More'
      %tbody
        - @charities.each do |charity|
          %tr
            %td= charity.name
            %td= charity.president_name
            %td= charity.contact_email
            %td= "#{number_to_currency(charity.totalPledge)}"
            %td= link_to "More info", charity_path(charity)
%script $('#charity-table').dynatable();
