%div.container-fluid.center.login 
  %div.row
    %div.center.col-xs-6.col-md-4.well
      %h1 #{@charity.name} 
      %dl
        %dt President: 
        %dd #{@charity.president_name}
        %dt Email: 
        %dd #{@charity.contact_email}
        %dt Website: 
        %dd #{@charity.charity_website}
        %dt Description:
        %dd #{@charity.description}
