%div.container-fluid.center.login 
  %div.row
    %div.center.well
      %h1 #{@charity.name} 
      %dl
        %dt President: 
        %dd #{@charity.president_name}
        %dt Email: 
        %dd #{@charity.contact_email}
        %dt Website: 
        %dd #{@charity.charity_website}
        %dt Description:
        %dd #{@charity.description}

= button_to 'Delete', charity_path(@charity), :method => :delete, :confirm => 'Are you sure?'
