%section
  %div.container.login
    %div.row
      %div.center.well
        %legend Create A Goal
        = form_tag goals_path, :method => :post do
          = text_field :goal, :title, :id => "create_goal_title", :placeholder => "Goal Title", :class=>"form-control", :required=>"true"
          %br
          = text_area :goal, :description, :id => "create_goal_description", :placeholder=> "Description", :class=>"form-control", :required=>"true"
          %br
          = text_field :goal, :pledge_amount, :id => "create_goal_pledge_amount", :type => "number", :placeholder => "Pledge Amount", :class=> "form-control", :required => "true"
          %br
          = select_tag 'selected_charity', options_from_collection_for_select(@charities, 'id', 'name')
          %br
          %br
          %button.btn.btn-primary.btnblock{:type=>"submit"} Create!
