%div.container-fluid.center.login 
  %div.row
    %div.center.well
      %h1 #{@goal.title} 
      %dl
        %dt Description: 
        %dd #{@goal.description}
        %dt Date Created: 
        %dd #{@goal.created_at}
        %dt Owner:
        %dd #{User.find_by_uid(@goal.owner).user_id}
= button_to 'Delete', goal_path(@goal), :method => :delete, :confirm => 'Are you sure?'
